html{
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

/* adding google fonts to the body and various headings */
body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 70px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 70px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
}

h4 {
    font-size: 12px;
    font-weight: 600;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #222;
    padding: 1rem;
    text-align: center;
}

.topnav img {
    float: left;
    width: 70px;
    height: 70px;
}

.topnavbg {
    width: 100%;
    height: 70px;
    background-color: #c68d00;
}

li:nth-child(1)  {
    background-color: #C78B07;
    line-height: 40px;
    width: 100%;
}

.active {
    color: #222;
}

ul {
    list-style-type: none;
    padding-left: 0;
    list-style-type: none;
}

li {
    /* margin: 1rem; */
    display: block;
    line-height: 40px;
}

a {
    color: #c78c06;
}


a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
    color: #222;
}

.welcome {
    width: 100%;
    height: auto;
    min-height: 535px;
    background-size: cover;
    background-image: url("/images/main-banner.jpg");

}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px 10px 50px 10px;
    position: relative;
    top: 40px;
}


.welcome h1 {
    color: #ffffff;
    line-height: 100px;
}

.welcome p {
    color: #ffffff;
}

.welcome-button {
    background-color: #C78B07;
    color: #222222;
    padding: 25px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
  }


.welcome a {
    color: #222222;
} 

.fa-solid {
    font-size: 20px;
}

.wrapper {
    width: 95%;
    margin: auto;
}

.about {
    background-color: #ffe6ac;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    /* background-size: cover;
    background-image: url("/images/about-us.jpg"); */
}

.img-about {
    width: 100%;
    padding: 20px;
}

.img-custom {
    width: 100%;
}

.services {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.servicecontent {
    background-color: #ffe6ac;
    padding: 10px;
}

.services-button {
    background-color: #222222;
    color: #ffffff;
    padding: 25px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
  }

.services a {
    color: #ffffff;
} 

.vision {
    width: 100%;
    height: 325px;
    background-size: cover;
    background-position: center;
    background-image: url("/images/vision.jpg");
}

.vision h2 {
    color: #ffffff;
    padding-top: 40px;
}

.vision p {
    color: #ffffff;
}

.learn-more-button {
    background-color: #222222;
    border: 1px solid #C78B07;
    color: #ffffff;
    padding: 25px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
  }


.learn-more-button a {
    color: #ffffff;
}

.team {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.ourteam {
    background-color: #ffe6ac;
    padding: 10px;
    padding-bottom: 40px;
}

hr {
    border: 1px solid #c78c06;
}

.team img {
    width: 100%;
}

/* adding styles to contact input text box areas */
input[type=text], select {
    width: 100%;
    padding: 12px;
    box-sizing:border-box;
    line-height: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* adds styles to message box text type area */
textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    box-sizing:border-box;
    margin-top: 12px;
    resize: vertical;
}

.contact button {
    width: 55px;
    height: 45px;
    background-color: #222;
    color: #C78B07;
    /* padding: 10px 10px; */
    margin-top: 12px;
}

table {
    width: 100%;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ffe6ac;
    color: #222;
    margin: 12px 12px 12px 12px;
    border: 1px solid #222;
  }

table tr {
    border-collapse: collapse;
    border: 1px solid #ddd;
    text-align: center;
    margin: 12px 12px 12px 12px
  }

table td {
    padding: 12px 12px 15px;
    text-align: left;
    color: #222;
    margin: 12px 12px 12px 12px;
    border: 1px solid #222;
  }

/* google map embed */
.map iframe {
    border: 0;
    height: 350px;
    width: 100%;
    padding-bottom: 12px;
}

footer {
    background-color: #222;
    color: #C78B07;
    padding: 20px;
    border: 1px solid #000;
}

footer p {
    line-height: 35px;
}

/* Adds !important rule here so it will overide the previous styling I have added for the navigation alink property */
footer a {
    color: #c78c06;
    text-decoration: underline !important;
}