html{
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

/* adding google fonts to the body and styling the fonts of various headings */
body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 70px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 70px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
}

h4 {
    font-size: 12px;
    font-weight: 600;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

/* Adding a background color to the header and aligning the elements inside to center */
header {
    background-color: #222;
    padding: 1rem;
    text-align: center;
}

/* aligning the logo to top left and giving the logo a width and height */
.topnav img {
    float: left;
    width: 70px;
    height: 70px;
}

.topnavbg {
    width: 100%;
    height: 70px;
    background-color: #c68d00;
}

/* adding a background color to show home page is selected */
li:nth-child(1)  {
    background-color: #C78B07;
    line-height: 40px;
    width: 100%;
}

.active {
    color: #222;
}

/* Styling the ul li inside the navigation bar. links decorated to underline when hover   */
ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    /* margin: 1rem; */
    display: block;
    line-height: 40px;
}

a {
    color: #c78c06;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

/* Adds image through css and sizing the img to cover the entire container */
.welcome {
    width: 100%;
    height: auto;
    min-height: 535px;
    background-size: cover;
    background-image: url("/images/main-banner.jpg");
}

/* adding a overlay rectangle and padding to display as in the provided img  */
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px 10px 50px 10px;
    position: relative;
    top: 40px;
}


.welcome h1 {
    color: #ffffff;
    line-height: 100px;
}

.welcome p {
    color: #ffffff;
}

.welcome-button {
    background-color: #C78B07;
    color: #222222;
    padding: 25px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
  }

.welcome a {
    color: #222222;
} 

.fa-solid {
    font-size: 20px;
}

.search-container button {
    float: right;
    width: 10%;
    padding: 10px;
    background: #222;
    color: #c68d00;
    font-size: 17px;
    border: 1px solid #c68d00;
    border-left: none;
    cursor: pointer;
  }

.wrapper {
    width: 95%;
    margin: auto;
}

.about {
    background-color: #ffe6ac;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    /* background-size: cover;
    background-image: url("/images/about-us.jpg"); */
}

.img-about {
    width: 100%;
    padding-top: 18px;
}

.img-custom {
    width: 100%;
}

.services {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.servicecontent {
    background-color: #ffe6ac;
    padding: 10px;
}

.services-button {
    background-color: #222222;
    color: #ffffff;
    padding: 25px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
  }

.services a {
    color: #ffffff;
} 

.vision {
    width: 100%;
    height: 325px;
    background-size: cover;
    background-position: center;
    background-image: url("/images/vision.jpg");
}

.vision h2 {
    color: #ffffff;
    padding-top: 40px;
}

.vision p {
    color: #ffffff;
}

.learn-more-button {
    background-color: #222222;
    border: 1px solid #C78B07;
    color: #ffffff;
    padding: 25px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
  }

.learn-more-button a {
    color: #ffffff;
}

.team {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.ourteam {
    background-color: #ffe6ac;
    padding: 10px;
    padding-bottom: 40px;
}

hr {
    border: 1px solid #c78c06;
}

.team img {
    width: 100%;
}

/* adding styles to contact input text box areas */
input[type=text], select {
    width: 100%;
    padding: 12px;
    box-sizing:border-box;
    line-height: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* adds styles to message box text type area */
textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    box-sizing:border-box;
    margin-top: 12px;
    resize: vertical;
}

.contact button {
    width: 55px;
    height: 45px;
    background-color: #222;
    color: #C78B07;
    /* padding: 10px 10px; */
    margin-top: 12px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-top: 10px;
}


/* Adding styles to the table heading. both headings aligned to center with a bg color and a border */
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ffe6ac;
    color: #222;
    margin: 12px 12px 12px 12px;
    border: 1px solid #222;
}

table tr {
    border-collapse: collapse;
    border: 1px solid #ddd;
    text-align: center;
    margin: 12px 12px 12px 12px
}

/* Adding data to the table. All data has been aligned to left while giving it a border and other styles */
table td {
    padding: 12px 12px 15px;
    text-align: left;
    color: #222;
    margin: 12px 12px 12px 12px;
    border: 1px solid #222;
}

/* embedding the google map */
.map iframe {
    border: 0;
    height: 350px;
    width: 100%;
    padding-bottom: 12px;
    margin-top: 10px;
}

.map {
    margin-top: 10px;
}

footer {
    background-color: #222;
    color: #C78B07;
    padding: 20px 0px 20px 0px;
    border: 1px solid #000;
}

footer p {
    line-height: 35px;
}

/* Adds !important rule here so it will overide the previous styling I have added for the navigation alink property */
footer a {
    color: #c78c06;
    text-decoration: underline !important;
}


/* Adding media querie to add styles for minimum width of 760px and over */
@media screen and (min-width:760px) {

    .container {
        width: 85%;
        margin: 0 auto;
    } 

    /* .overlay {
        width: 85%;
        margin: 0 auto;
    } */

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 500px 500px;
        justify-content: center;
        
        /* grid-template-areas: 
        'digital marketing'
        'video web print' */
    }

    .digital {grid-area: 'digital';}
    .marketing {grid-area: 'marketing';}
    .video {grid-area: 'video';}
    .web {grid-area: 'web';}
    .print {grid-area: 'print';}

    .digital {
        grid-area: digital;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .marketing {
        grid-area: marketing;
        grid-column-start: 3;
        grid-column-end: 6;
    }

    .video {
        grid-area: video;
    }
    
    .web {
        grid-area: web;
    }

    .print {
        grid-area: print;
    }
    
    .topnavbg {
        background-color: inherit;
        height: auto;
    }

    nav li {
        display: inline-block;
        padding: 15px;
    }

    .search-container {
        display: inline-block;
        float: right;
    }

    .search-container button {
        padding-left: 30px;
    }

    li:nth-child(1)  {
        display: inline;
        padding: 12px 20px 12px 20px;
    }
    /* styling the header and content inside it. */
    .welcome .overlay {
        background-color: rgba(0, 0, 0, 0.6);
        height: 450px;
        padding: 50px 30px 50px 30px;
        margin: 20px 40px 20px 40px;
        padding: 50px 10px 50px 10px;
        position: relative;
        top: 40px;
    }
    
    .welcome p {
        line-height: 30px;
    }
    
    /* apply clearfix so the containing elements would not overflow because i have used float */
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .about img {
        width: 550px;
        height: 300px;
        /* apply float to left aligh the image */
        float: left;
        padding-right: 20px;
    }

    .about p {
        line-height: 25px;
    }

    .about h2 {
        padding-top: 30px;
    }

    .vision {
        padding-top: 12px;
        margin-bottom: 20px;
    }

    .vision p {
        line-height: 25px;
    }

    .bob img {
        float: right;
        width: 600px;
        height: 400px;
    }

    .john img {
        float: left;
        width: 600px;
        height: 400px;
        margin-right: 12px;
    }

    .team {
        margin-bottom: 0px;
    }

    .ourteam {
        height: 400px;
        padding-left: 12px;
    }

    .ourteam p {
        line-height: 25px;
    }

    /* adding felx box to bring the map next to the contact form and to bring the table to the next line */
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; /* aligning content on the main axis*/
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .contact form {
        float: left;
        width: 100%;
        padding-bottom: 50px;
    }
    .contact {
        flex-grow: 1;
        width: 50%;
        padding-left: 60px;
        padding-top: 30px;
    }

    .map {
        width: 50%;
        padding-top: 100px;
        padding-right: 50px;
    }
    /* giving the table a order of 1 to make it the last item of the flex, and the map will go next to the contact form */ 
    .table {
        order: 1;
        width: 100%;
        padding-bottom: 20px;
    }

    .contact h3 {
        margin-bottom: 20px;
    }


    }
